
####################
#   Executáveis    #
####################

*.mod
*.exe
exec
teste
main
otimization
otimizationvelocity
genetic


####################
#      Pastas      #
####################

/referencias/
plot/
